.social-links {
    display: flex;
    gap: 24px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.social-link {
    display: inline-block;
    width: 28px;
    height: 28px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

@media (min-width: 961px) {
    .social-links {
        gap: 32px;
    }
}
