.breadcrumbs {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 17px;
    padding-bottom: 17px;
}

.breadcrumbs__separator {
    font-size: 12px;
}

.breadcrumbs__link {
    position: relative;
    font-weight: inherit;
    font-size: inherit;
    padding: 0;
}

.breadcrumbs__link:hover {
    color: inherit;
}

.breadcrumbs__link::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #87be73;
}

.breadcrumbs__link:hover::after {
    width: 100%;
}

.breadcrumbs__current {
    font-weight: 600;
}

.breadcrumbs__separator {
    margin: 0 4px;
}

/* Стили для десктопов */
@media (min-width: 1024px) {
    .breadcrumbs {
        height: 56px;
    }
}
