.ForInvestors {
    background: #f1f1f1;
}

.ForInvestors__container {
    margin: 0 auto;
    max-width: 1264px;
    padding: 96px 16px;
}

.for-investors__title {
    font-size: 1.375rem;
    text-align: start;
    color: #000;
    margin: 0;
}

.for-investors__subtitle {
    text-align: start;
}

.ForInvestors__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    justify-content: space-between;
    padding-top: 40px;
}

.ForInvestors__card {
    display: flex;
    flex-direction: column;
    flex: 0 0 calc(100% / 3 - 32px);
    margin-bottom: 5rem;
}

.ForInvestors__card:last-child {
    margin-bottom: 0;
}

.ForInvestors__card-value {
    font-size: 4.5rem;
    font-weight: 400;
    text-align: left;
    line-height: 1;
    color: #000;
    margin-bottom: 24px;
    white-space: nowrap;
}

.ForInvestors__card-label {
    font-size: 1.125rem;
    font-style: italic;
    text-align: left;
    color: #000;
}

/*Animation*/
.ForInvestors__card {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.ForInvestors__card.visible {
    opacity: 1;
    transform: translateY(0);
}

/*breakpoints*/
@media (max-width: 768px) {
    .ForInvestors__container {
        padding-top: 36px;
        padding-bottom: 36px;
    }

    .ForInvestors__card {
        flex: 0 0 100%;
        width: 100%;
        margin-bottom: 3rem;
    }

    .ForInvestors__card-label {
        font-size: 1.125rem;
    }

    .ForInvestors__container {
        margin: 0 auto;
        max-width: 1264px;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .ForInvestors__card-value {
        font-size: 3.25rem;
    }
}

@media (max-width: 450px) {
    .ForInvestors__card {
        width: 100%;
    }
}


