h1, h2, p {
    margin: 0 0 24px 0;
}

.project-detail {
    width: 100%;
    height: 100%;
}

.project-detail__separator {
    margin: 0 4px;
}

.project-detail__title-wrapper {
    width: 100%;
    max-width: 1680px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin: 0 auto;
    z-index: 3;
}

.project-detail__title-row {
    display: flex;
    justify-content: space-between;
    max-width: 91.6%;
    flex: 0 0 91.6%;
}

.project-detail__title-col {
    max-width: 50%;
    flex: 0 0 50%;
    text-align: left;
}

.project-detail__title {
    font-size: 2.5rem;
    color: #fff;
}

.project-detail__preview {
    font-size: 16px;
    margin-bottom: 0;
    color: #fff;
}

.project-detail__bgimage-wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;

}

.project-detail__bgimage {
    position: relative;
    width: 100%;
    min-height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding: 100px 0;
    overflow: hidden;
}

.project-detail__bgimage::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.project-detail__bgimage-title {
    font-size: 3.375rem;
    text-align: left;
    color: #fff;
    margin: 0;
}

.project-detail__wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    right: 0;
    bottom: 0;
    width: 100%;
    margin-top: -60px;
    max-width: 91.6%;
    background: #fff;
    padding: 8.3%;
    margin-left: auto;
    z-index: 3;
}

.project-detail__row {
    display: block;
}

.project-detail__col {
    flex-basis: 50%;
}

.project-detail__col-item {
    font-weight: 500;
    padding: 7px 0;
}


.icons-list {
    display: flex;
    margin-top: 40px;
    padding: 0 30px;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: stretch;
}

.icon-wrapper {
    flex-shrink: 0;
    width: calc(12.5% - 4px);
    margin: 0 2px;
}

.icon {
    display: block;
    width: 100%;
    height: 100%;
}

.project-detail__col p,
.project-detail__col h5 {
    line-height: 1.5rem;
    margin: 0;
}

.project-detail__article {
    max-width: 864px;
    padding: 0 16px;
    margin: 0 auto 0 auto;
    text-align: left;
}

.project-detail__content-list {
    margin: 0 0 16px 0;
    padding: 0;
    list-style: none;
}

.project-detail__content-list li {
    position: relative;
    padding: 8px 0 8px 32px;
}

.project-detail__content-list li:first-child {
    padding-top: 0;
}

.project-detail__content-list li::before {
    content: '';
    background-image: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 24 24%22 fill=%22none%22%3E%3Cpath d=%22M10.293 14.293L6.707 10.707C6.316 10.316 5.684 10.316 5.293 10.707C4.902 11.098 4.902 11.732 5.293 12.121L9.293 16.121C9.684 16.512 10.316 16.512 10.707 16.121L19.707 7.121C20.098 6.73 20.098 6.098 19.707 5.707C19.316 5.316 18.684 5.316 18.293 5.707L10.293 14.293Z%22 fill=%22green%22/%3E%3C/svg%3E');
    position: absolute;
    left: 0;
    width: 24px;
    height: 24px;
    color: #80b86f;
    display: flex;
    align-items: center;
    margin-top: 4px;
}

.project-detail__content-title {
    margin-bottom: 32px;
}

@media (min-width: 993px) {
    .project-detail__bgimage {
        min-height: 800px;
    }

    .project-detail__wrapper {
        position: absolute;
        width: 50%;
    }
}

@media (min-width: 576px) {
    .project-detail__row {
        display: flex;
    }
}


@media (min-width: 768px) {
    .project-detail__wrapper {
        padding: 60px 60px 100px 60px;
    }

    .project-detail__col-item {
        padding-right: 30px;
        padding-left: 30px;
    }

    h2 {
        margin: 0 0 32px 0;
    }
}


