h1, h2, p {
    margin: 0 0 24px 0;
}

.project-detail {
    width: 100%;
    height: 100%;
}

.project-detail__separator {
    margin: 0 4px;
}

.project-detail__title-wrapper {
    width: 100%;
    max-width: 1680px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin: 0 auto;
    z-index: 3;
}

.project-detail__title-row {
    display: flex;
    justify-content: space-between;
    max-width: 91.6%;
    flex: 0 0 91.6%;
}

.project-detail__title-col {
    max-width: 50%;
    flex: 0 0 50%;
    text-align: left;
}

.project-detail__title {
    font-size: 2.5rem;
    color: #fff;
}

.project-detail__bgimage-wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;

}

.project-detail__bgimage {
    position: relative;
    width: 100%;
    min-height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding: 100px 0;
    overflow: hidden;
}

.project-detail__bgimage::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.project-detail__bgimage-title {
    font-size: 3.375rem;
    text-align: left;
    color: #fff;
    margin: 0;
}

.project-detail__wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    right: 0;
    bottom: 0;
    width: 100%;
    margin-top: -60px;
    max-width: 91.6%;
    background: #fff;
    padding: 8.3%;
    margin-left: auto;
    z-index: 3;
}

.project-detail__row {
    display: block;
}

.project-detail__col {
    flex-basis: 50%;
}

.project-detail__col-item {
    font-weight: 500;
    padding: 7px 0;
}


.icons-list {
    display: flex;
    margin-top: 40px;
    padding: 0 30px;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: stretch;
}

.icon-wrapper {
    flex-shrink: 0;
    width: calc(12.5% - 4px);
    margin: 0 2px;
}

.icon {
    display: block;
    width: 100%;
    height: 100%;
}

.project-detail__col p,
.project-detail__col h5 {
    line-height: 1.5rem;
    margin: 0;
}

.project-detail__article {
    margin-bottom: 96px;
    text-align: left;
}

.no-project-message {
    text-align: center;
    font-size: 1.2rem;
    color: #666;
    margin: 20px 0;
}


@media (min-width: 993px) {

    .project-detail__bgimage {
        min-height: 800px;
    }

    .project-detail__wrapper {
        position: absolute;
        width: 50%;
    }
}


@media (min-width: 576px) {
    .project-detail__row {
        display: flex;
    }
}


@media (min-width: 768px) {
    .project-detail__wrapper {
        padding: 60px 60px 100px 60px;
    }

    .project-detail__col-item {
        padding-right: 30px;
        padding-left: 30px;
    }

    h2 {
        margin: 0 0 32px 0;
    }
}


