.message-icon__wrapper {
    position: fixed;
    right: 20px;
    bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
}

@keyframes wave {
    0% {
        transform: scale(0);
        opacity: 0;
        border: 1px solid #80b86f; /* зелёный */
    }
    50% {
        transform: scale(1.2);
        opacity: 0.5;
        border: 1px solid #80b86f; /* остаётся зелёный */
    }
    100% {
        transform: scale(1.5);
        opacity: 0;
        border: 1px solid #70705a; /* плавно становится серым */
    }
}

.message-icon__button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #80b86f; /* изначально зелёный */
    border-radius: 50%;
    opacity: 0;
    animation: wave 1.5s infinite ease-out;
    transition: background 1.5s ease-out;
}


.message-icon__button {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #80b86f;
    border: none;
    border-radius: 50%;
    padding: 0;
    transition: transform 0.3s ease-in-out;
    animation: scaleUp 0.5s ease-out forwards;
}

.message-icon {
    color: #fff;
    width: 24px;
    height: 24px;
}

.message-icon__button.rotated {
    transform: rotate(90deg);
}

.social-links__wrapper {
    position: absolute;
    bottom: 74px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.social-links__wrapper {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.social-links-vertical {
    flex-direction: column;
}


@media (min-width: 1024px) {
    .social-links__wrapper {
        bottom: 82px;
    }
}

