.whoAreWe__container {
    max-width: 1264px;
    padding: 0 16px;
    margin: 96px auto 96px auto;
}

.whoAreWe__col-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 8px;
}

.whoAreWe__container .about-company__col-wrapper:last-child {
    margin-bottom: 0;
}

.whoAreWe__col {
    flex: 0 0 calc(50% - 4px);
    text-align: left;
}

.whoAreWe__col-title {
    margin: 0 0 16px 0;
}

.whoAreWe__col-content {
    margin-left: 56px;
}

.whoAreWe__col-description {
    margin: 0 0 24px 0;
}

.whoAreWe__col .whoAreWe__col-description:last-child {
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .whoAreWe__container {
        margin-top: 64px;
        margin-bottom: 64px;
    }

    .whoAreWe__col {
        flex: 0 0 100%;
        width: 100%;
    }

    .whoAreWe__col-content {
        margin-left: 0;
    }
}















