.banner {
    display: flex;
    align-items: center;
    width: 100%;
    height: calc(100vh - 90px); /* Растягиваем на высоту экрана */
    background-size: cover; /* Покрывает весь блок */
    background-position: center;
    background-repeat: no-repeat;
}

.banner-video {
    width: 100%;
    height: calc(100vh - 90px);
    object-fit: cover; /* Обрезает видео по размеру блока */
    position: absolute; /* Накладывает видео как фон */
    top: 90px;
    left: 0;
    z-index: -1;
}

.banner-container {
    width: 100%;
}

.banner__content {
    display: flex;
    max-width: 1680px;
    margin: 0 auto;
}

.banner__content-col {
    flex: 0 0 55%;
    text-align: left;
    margin-left: auto;
    background: #fff;
    padding: 2rem;
}

.banner__content-title {
    margin: 0 0 24px 0;
}

.banner__content-subtitle-wrapper {
    display: flex;
    align-items: center;
}

.banner__content-subtitle {
    margin: 0;
}

.banner__content-button {
    display: inline-block;
    padding: 16px 24px;
    background: #87be73;
    border: none;
    font-weight: 500;
}

.banner__scroll-top {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #80b86f;
    margin: 0 16px;
}

.banner__arrow-top {
    font-size: 1.5rem;
    color: #fff;
}

@media (max-width: 960px) {
    .banner__content-col {
        flex: 0 0 92%;
        padding: 1.5rem;
    }
}

@media (max-width: 576px) {
    .banner__content-subtitle {
        font-size: 1.125rem;
    }
}



