.banner {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: calc(100vh - 90px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner-video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -2;
}

.banner__video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: -1;
}

.banner__container {
    flex: 1;
    align-content: center;
    width: 100%;
}

.banner__content {
    display: flex;
    max-width: 1680px;
    margin: 0 auto;
}

.banner__content-col {
    flex: 0 0 50%;
    text-align: left;
    margin-left: auto;
    background: #fff;
    padding: 24px;
}

.banner__content-title {
    margin: 0 0 24px 0;
}

.banner__content-subtitle-wrapper {
    display: flex;
    align-items: center;
}

.banner__content-subtitle {
    margin: 0;
}

.banner__services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: auto;
    padding-right: 324px;
    width: 100%;
    max-width: 1680px;
}

.banner__service {
    display: flex;
    flex: 1;
    align-items: stretch;
    text-align: left;
    font-size: 1.3rem;
    color: #fff;
    padding: 24px;
    max-width: calc(25% - 2px);
    background: rgba(0, 0, 0, .4);
}

.banner__service:hover {
    background: #fff;
}

.banner__scroll-top {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #80b86f;
    margin: 0 16px;
}

.last-word {
    position: relative;
    white-space: nowrap;
    padding-right: 36px;
}

.last-word::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 36px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%2380b86f'%3E%3Cpath d='M8.59 16.59L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z'/%3E%3C/svg%3E");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width: 1401px) {
    .banner__services {
        padding-right: 0;
    }
}

@media (max-width: 1300px) {
    .banner {
        min-height: calc(100vh - 72px);
    }
}

@media (max-width: 1200px) {
    .banner__service {
        flex: 0 0 calc(50% - 2px);
        max-width: calc(50% - 2px);
        margin-top: 4px;
    }

    .banner__content-col {
        padding: 64px;
        flex: 0 0 50%;
    }
}

@media (max-width: 1050px) {
    .banner {
        min-height: calc(100vh - 64px);
    }
}

@media (max-width: 992px) {
    .banner {
        min-height: 1px;
    }

    .banner__container {
        flex: auto;
        align-content: flex-end;
        margin-top: 96px;
        margin-bottom: 96px;
    }

    .banner__content-col {
        flex: 0 0 91.67%;
        padding: 64px;
    }
}

@media (max-width: 768px) {
    .banner__container {
        margin-bottom: 48px;
    }

    .banner__content-col {
        padding: 48px 16px 48px 48px;
    }

    .banner__services {
        flex-direction: column;
    }

    .banner__service {
        flex: 1;
        padding: 16px;
        max-width: 100%;
    }
}

@media (max-width: 576px) {
    .banner__container {
        margin-top: 9rem;
        margin-bottom: 24px;
    }

    .banner__content-subtitle {
        font-size: 1.125rem;
    }

    .banner__content-col {
        padding: 24px;
    }
}



