.project-description {
    margin: 0;
}

.projects-filter__list {
    margin-bottom: 24px;
}

.css-b62m3t-container {
    width: 100%;
}

.project-filter {
    position: relative;
    font-size: 1.125rem;
    line-height: 1.5rem;
    cursor: pointer;
    white-space: nowrap;
    margin-right: 65px;
    margin-bottom: 8px;
    width: auto;
}

.project-filter:last-child {
    margin-bottom: 0;
}

.project-filter::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: #80b86f;
}

.project-filter:hover::before {
    width: 100%;
}

.project-filter.active::before {
    width: 100%;
}

.project-filter::after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 1px;
    height: 1.5rem;
    background: #bdbdbd;
    transform: translateX(2rem);
}

.project-filter:last-child::after {
    display: none;
}

.projects-filter__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 24px;
}

.custom-select {
    width: 100% !important;
}

.custom-select__control {
    width: 100%;
}

.projects-cards__list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    row-gap: 42px;
    margin-bottom: 42px;
}

.projects__button {
    font-size: 18px;
    font-weight: 600;
    color: #292929;
    display: inline-block;
    background: #80b86f;
    padding: 16px 24px;
}

.projects__button:hover {
    color: inherit;
    background-color: rgba(128, 184, 111, 0.7);
}

@media (min-width: 768px) {
    .projects-filter__list {
        margin-bottom: 32px;
    }

    .projects-cards__list {
        row-gap: 64px;
    }
}

@media (min-width: 1024px) {
    .projects-filter__list {
        margin-bottom: 64px;
    }
}



