.project-card {
    display: flex;
    flex-direction: column;
    justify-content: end;

    flex: 1 1 calc((100% - 32px) / 3);
    max-width: calc((100% - 32px) / 3);
    cursor: pointer;
}

.project-card__image-wrapper {
    overflow: hidden;
    height: 300px;
    margin-bottom: 96px;
}

.project-card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.3s ease-in-out;
}

.project-card:hover .project-card__image {
    transform: scale(1.1);
}

.project-card__title-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 0 16px 0;
    transition: margin-left 0.5s ease-in-out;
}

.project-card__title {
    margin: 0;
}

.project-card__icon-wrapper {
    display: none;
    flex-shrink: 0;
    align-items: center;
    margin: 0 4px 0 0;
}

.project-card__icon-arrow {
    font-size: 1.5rem;
    color: #80b86f;
    width: 100%;
}

.project-card:hover .project-card__icon-wrapper {
    display: flex;
}

.project-card__details {
    margin-bottom: 16px;
}

.project-card__location {
    font-size: 1rem;
    margin-right: 1rem;
}

.project-card__separator {
    position: relative;
    margin-right: 1rem;
}

.project-card__separator::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 2px;
    height: 24px;
    background: #bdbdbd;
}

.project-card__category {
    font-size: 1rem;
    display: inline-block;
    color: #757575;
}

@media (max-width: 1024px) {
    .project-card {
        flex: 1 1 calc((100% - 16px) / 2);
        max-width: calc((100% - 16px) / 2);
    }
}

@media (max-width: 768px) {
    .project-card {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .project-card__image-wrapper {
        overflow: visible;
        margin-bottom: 64px;
    }

    .project-card__image {
        width: 100vw;
        margin-right: -16px;
        margin-left: -16px;
    }

    .project-card__title-wrapper {
        display: flex;
        justify-content: space-between;

    }

    .project-card__image-wrapper {
        overflow: visible;
    }

    .project-card__image {
        width: 100vw;
        margin-left: -16px;
        margin-right: -16px;
        transition: none;
    }

    .project-card:hover .project-card__image {
        transform: scale(1);
    }

    .project-card__icon-wrapper {
        display: flex;
        order: 2;
        margin-right: 0;
    }

    .project-card:hover .project-card__icon-wrapper {
        display: flex;
    }

}

@media (max-width: 576px) {
    .project-card__image-wrapper {
        margin-bottom: 48px;
    }
}



