.footer {
    background: #fafafc;
}

.footer__container {
    max-width: 1264px;
    padding: 40px 16px 0 16px;
    margin: 0 auto;
}

.footer__content {
    display: flex;
    gap: 32px;
    align-items: flex-start;
    justify-content: space-between;
    text-align: left;
}

.footer__content-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 32px;
    width: 80%;
}

.footer__logo {
    flex-shrink: 0;
    display: block;
    width: 120px;
    text-decoration: none;
}

.footer__logo img {
    width: 100%;
    height: 100%;
}

.footer__menu-section ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer__menu-section li {
    list-style-type: none;
    margin: 0 0 16px 0;
    padding: 0;
}

.footer__menu-section h6 {
    margin: 0 0 16px 0;
}

.footer-link {
    position: relative;
    font-size: 16px;
    color: inherit;
    margin: 0;
    padding: 0;
}

.footer-link::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #87be73;
}

.footer-link:hover::after,
.footer-link:active::after,
.footer-link:focus::after {
    width: 100%;
}

.footer__contact-social {
    margin-bottom: 16px;
}

.footer__contact-social h6 {
    margin: 0 0 16px 0;
}

.footer__contact-mail {
    color: #111;
    margin-bottom: 16px;
}


.footer__copyright {
    display: inline-block;
    text-align: left;
    font-size: 12px;
    color: #666;
    margin: 16px 0;
}

@media (max-width: 961px) {
    .footer__content {
        flex-direction: column;
    }

    .footer__content-inner {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .footer__content-inner {
        width: 80%;
    }

    .footer__contact {
        width: 100%;
    }
}


