.footer {
    background: #fafafc;
}

.footer__container {
    max-width: 1264px;
    padding: 50px 16px 20px 16px;
    margin: 0 auto;
}

.footer__content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    text-align: left;
}

.footer__column {
    max-width: 25%;
    margin-bottom: 20px;
}

.footer__logo-usta {
    font-size: 38px;
}

.footer__logo-international {
    font-size: 12px;
}

.footer__menu-section ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer__menu-section li {
    list-style-type: none;
    margin: 8px 0;
    padding: 0;
}

.footer__menu-section h6 {
    margin: 8px 0;
}

.footer-link {
    position: relative;
    font-size: 16px;
    color: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
}

.footer__contact-mail span {
    font-weight: 600;
}

.footer-link::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #87be73;
}

.footer-link:hover::after,
.footer-link:active::after,
.footer-link:focus::after {
    width: 100%;
}

.footer__contact h6 {
    margin: 0;
}

.footer__social-links {
    margin: 20px 0;
}

.footer__copyright {
    display: inline-block;
    text-align: left;
    font-size: 12px;
    color: #666;
}

@media (max-width: 961px) {
    .footer__content > :first-child {
        order: 2; /* Это ставит первого ребенка на вторую позицию */
    }

    .footer__content > :last-child {
        order: 3; /* Это ставит последнего ребенка на последнюю позицию */
    }

    .footer__column {
        width: 50%;
        max-width: 50%;
    }
}

@media (max-width: 633px) {
    .footer__content {
        justify-content: flex-start;
    }

    .footer__content > :first-child {
        margin-top: 20px;
        order: 2;
        width: 100%;
        max-width: 100%;
        align-self: flex-start;
    }

    .footer__content > :last-child {
        order: 3;
        width: 100%;
        max-width: 100%;
    }

    .footer__contact h6 {
        display: none;
    }
}


