.header__container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    max-width: 1264px;
    padding: 0 16px;
    margin: 0 auto;
    min-height: 90px;
}

.header__logo {
    width: 120px;
    height: auto;
    text-decoration: none;
}

.header__logo img {
    max-width: 100%;
    max-height: 100%;
}

.header__inner {
    display: flex;
    gap: 2rem;
}

.header__nav {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header__nav-list {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 18px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header__nav-link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #000;
    font-weight: 400;
    padding: 0;
}

.header__nav-link:hover,
.header__message:hover {
    color: inherit;
}

.header__nav-link::after,
.header__message::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #87be73;
}

.header__nav-link:hover::after,
.header__nav-link:active::after,
.header__nav-link:focus::after {
    width: 100%;
}

.header__nav-link.items {
    position: relative;
    display: flex;
    align-items: center;
}

.icon-sub {
    display: flex;
    align-items: center;
    padding-left: 32px;
}

.icon-sub::before {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    right: 0;
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23111111'%3E%3Cpath d='M7.41 8.59 12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z'/%3E%3C/svg%3E");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.icon-sub.open::before {
    transform: rotate(180deg);
}

.header__actions {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header__message {
    display: flex;
    position: relative;
    gap: 0.5rem;
    align-items: center;
    font-size: 1.125rem;
}

.header__message-icon {
    font-size: 1.5rem;
}

.header__menu {
    display: none;
    align-items: center;
    background: inherit;
    border: none;
    padding: 8px;
}

.header__menu-icon {
    background: inherit;
    border: none;
    font-size: 24px;
}

.header__sub-nav {
    /*position: absolute;*/
    position: relative;
    left: 0;
    height: 0;
    overflow: hidden;
    background: #555454;
    width: 100%;
    transition: height 0.3s ease-out;
    z-index: 3;
}

.header__sub-nav.open {
    height: 90px;
}

.header__sub-nav .header__nav-link {
    color: #fff;
}

@media (max-width: 1300px) {
    .header__container {
        min-height: 72px;
    }

    .header__logo {
        width: 80px;
    }
}

@media (max-width: 1050px) {
    .header__container {
        min-height: 64px;
    }
}

@media (max-width: 960px) {
    .header__menu {
        display: flex;
    }

    .header__nav {
        display: none;
    }

    .header__nav.open {
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        left: 0;
        right: 0;
        top: 90px;
        transition: max-height 0.3s ease-in-out;
        background: #87be73;
        width: 100%;
    }

    .header__nav-list {
        flex-direction: column;
        gap: 1rem;
    }
}


