.header {
    position: relative;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 0 16px;
    margin: 0 auto;
    min-height: 64px;
}

.header__logo {
    position: relative;
    width: 80px;
    height: auto;
    text-decoration: none;
    z-index: 5;
}

.header__logo img {
    max-width: 100%;
    max-height: 100%;
}

.header__social-links {
    margin: 32px 0;
}

.header__inner {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header__nav {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    padding: 6rem 2rem 2rem 2rem;
    background: #fafafc;
    opacity: 0;
    visibility: hidden;
    clip-path: inset(0 0 100% 0);
    transition: clip-path 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out;
    z-index: 4;
}

.header__nav.open {
    height: 100vh;
    opacity: 1;
    visibility: visible;
    clip-path: inset(0 0 0 0);
}

.header__nav-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header__nav-item {
    position: relative;
    border-top: 1px solid #00000029;
}

.header__nav-item:first-child {
    border-top: none;
}

.header__nav-item:last-child {
    border-bottom: 1px solid #00000029;
}

.header__nav-link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-size: 1.5rem;
    color: #111;
    border: none;
    font-weight: 400;
    padding: 0;
    margin: 12px 0;
}

.header__nav-link-sub-items {
    position: relative;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    padding: 0;
    border: none;
    margin: 12px 0;
}

.icon-sub {
    display: flex;
    align-items: center;
    padding-left: 28px;
}

.icon-sub::before {
    content: "";
    position: absolute;
    display: block;
    right: 0;
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23111'%3E%3Cpath d='M7.41 8.59 12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z'/%3E%3C/svg%3E");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.icon-sub.open::before {
    transform: rotate(180deg);
}

.header__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.header__message {
    display: flex;
    position: relative;
    gap: 0.5rem;
    align-items: center;
    font-size: 1.125rem;
}

.header__message-icon {
    font-size: 1.5rem;
}

/* Подменю (submenu) */
.header__nav.sub {
    position: static;
    background: #fafafc;
    padding: 0;
    opacity: 0;
    max-height: 0;
    visibility: hidden;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out, padding 0.3s ease-out;
}

.header__nav.sub.open {
    opacity: 1;
    visibility: visible;
    height: auto;
    max-height: 300px;
}

.header__nav-item.sub:first-child {
    border-top: 1px solid #00000029;
}

.header__nav-item.sub:last-child {
    border-bottom: none;
}

.header__nav-link.sub {
    font-size: 1.125rem;
    color: #111;
    margin: 16px 0 16px 24px;
}

/*Бургер-кнопка*/
.header__menu {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: inherit;
    border: none;
    color: #111;
    width: 40px;
    height: 24px;
    padding: 0;
    z-index: 5;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.header__menu .icon {
    position: relative;
    width: 18px;
    height: 2px;
    background-color: #111;
    display: block;
    transition: all 0.3s ease;
}

.header__menu .icon::before,
.header__menu .icon::after {
    content: '';
    position: absolute;
    left: 0;
    width: 18px;
    height: 2px;
    background-color: #111;
    display: block;
    transition: all 0.3s ease;
}

.header__menu .icon::before {
    top: -6px;
}

.header__menu .icon::after {
    top: 6px;
}

.header__menu .icon.open {
    background-color: transparent;
}

.header__menu .icon.open::before {
    transform: rotate(45deg);
    top: 0;
}

.header__menu .icon.open::after {
    transform: rotate(-45deg);
    top: 0;
}

/* Оверлей */
.overlay {
    position: fixed;
    top: 64px;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
    z-index: 3;
}

/* Стили для планшетов */
@media (min-width: 768px) {
    .header__nav.open {
        height: auto;
        opacity: 1;
        visibility: visible;
        clip-path: inset(0 0 0 0);
    }

    .overlay.open {
        opacity: 1;
        visibility: visible;
    }

    .header__container {
        min-height: 72px;
    }

    .header__logo {
        width: 100px;
    }

    .header__nav {
        padding: 6rem 4rem 4rem 4rem;
        top: 0;
    }

    .overlay {
        top: 72px;
    }
}

/* Стили для десктопов */
@media (min-width: 961px) {
    .header__container {
        min-height: 90px;
        max-width: 1264px;
    }

    .header__logo {
        width: 120px;
    }

    /*.header__nav {*/
    /*    display: flex;*/
    /*    position: static;*/
    /*    top: auto;*/
    /*    right: auto;*/
    /*    width: auto;*/
    /*    background: transparent;*/
    /*    opacity: 1;*/
    /*    visibility: visible;*/
    /*    padding: 0;*/
    /*    transition: none;*/
    /*    clip-path: none;*/
    /*}*/

    /*.header__nav-list {*/
    /*    flex-direction: row;*/
    /*    gap: 2rem;*/
    /*    font-size: 18px;*/
    /*}*/

    /*.header__nav-item {*/
    /*    position: static;*/
    /*    border: none;*/
    /*}*/

    /*.header__nav-link,*/
    /*.header__nav-link-sub-items {*/
    /*    font-size: 1.125rem;*/
    /*    margin: 0;*/
    /*}*/

    /*.header__nav-link::after,*/
    /*.header__nav-link-sub-items::after {*/
    /*    content: '';*/
    /*    position: absolute;*/
    /*    bottom: -4px;*/
    /*    left: 0;*/
    /*    width: 0;*/
    /*    height: 2px;*/
    /*    background-color: #87be73;*/
    /*}*/

    /*.header__nav-link:hover::after,*/
    /*.header__nav-link:active::after,*/
    /*.header__nav-link:focus::after,*/
    /*.header__nav-link-sub-items:hover::after {*/
    /*    width: 100%;*/
    /*}*/

    /*.header__nav-link.scroll-link:focus::after,*/
    /*.header__nav-link.scroll-link:active::after {*/
    /*    width: 0;*/
    /*}*/

    /*.header__menu {*/
    /*    display: none;*/
    /*}*/

    /*.header__social-links {*/
    /*    display: none;*/
    /*}*/

    /*.overlay {*/
    /*    display: none;*/
    /*}*/

    /*!* Подменю (submenu) *!*/
    /*.header__nav.sub {*/
    /*    position: absolute;*/
    /*    display: flex;*/
    /*    align-items: center;*/
    /*    top: 100%;*/
    /*    left: 0;*/
    /*    min-height: 90px;*/
    /*    width: 100%;*/
    /*    opacity: 0;*/
    /*    padding: 0;*/
    /*    background: #585757;*/
    /*    visibility: hidden;*/
    /*    clip-path: inset(0 0 100% 0);*/
    /*    transition: clip-path 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out;*/
    /*    z-index: 4;*/
    /*}*/

    /*.header__nav.sub.open {*/
    /*    opacity: 1;*/
    /*    visibility: visible;*/
    /*    clip-path: inset(0 0 0 0);*/
    /*}*/

    /*.header__nav-link.sub {*/
    /*    margin: 0;*/
    /*    color: #fff;*/
    /*}*/

    /*.header__nav-list.sub {*/
    /*    width: 100%;*/
    /*    max-width: 1264px;*/
    /*    padding: 0 16px;*/
    /*    margin: 0 auto;*/
    /*    display: flex;*/
    /*}*/

    /*.header__nav-item {*/
    /*    border: none;*/
    /*}*/

    /*.header__nav-item:last-child {*/
    /*    border-bottom: none;*/
    /*}*/

    /*.header__nav-item.sub:first-child {*/
    /*    border-top: none;*/
    /*}*/
}

@media (min-width: 1025px) {
    .header__nav {
        display: flex;
        position: static;
        top: auto;
        right: auto;
        width: auto;
        background: transparent;
        opacity: 1;
        visibility: visible;
        padding: 0;
        transition: none;
        clip-path: none;
    }

    .header__nav-list {
        flex-direction: row;
        gap: 2rem;
        font-size: 18px;
    }

    .header__nav-item {
        position: static;
        border: none;
    }

    .header__nav-link,
    .header__nav-link-sub-items {
        font-size: 1.125rem;
        margin: 0;
    }

    .header__nav-link::after,
    .header__nav-link-sub-items::after {
        content: '';
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 0;
        height: 2px;
        background-color: #87be73;
    }

    .header__nav-link:hover::after,
    .header__nav-link:active::after,
    .header__nav-link:focus::after,
    .header__nav-link-sub-items:hover::after {
        width: 100%;
    }

    .header__nav-link.scroll-link:focus::after,
    .header__nav-link.scroll-link:active::after {
        width: 0;
    }

    .header__menu {
        display: none;
    }

    .header__social-links {
        display: none;
    }

    .overlay {
        display: none;
    }

    /* Подменю (submenu) */
    .header__nav.sub {
        position: absolute;
        display: flex;
        align-items: center;
        top: 100%;
        left: 0;
        min-height: 90px;
        width: 100%;
        opacity: 0;
        padding: 0;
        background: #585757;
        visibility: hidden;
        clip-path: inset(0 0 100% 0);
        transition: clip-path 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out;
        z-index: 4;
    }

    .header__nav.sub.open {
        opacity: 1;
        visibility: visible;
        clip-path: inset(0 0 0 0);
    }

    .header__nav-link.sub {
        margin: 0;
        color: #fff;
    }

    .header__nav-list.sub {
        width: 100%;
        max-width: 1264px;
        padding: 0 16px;
        margin: 0 auto;
        display: flex;
    }

    .header__nav-item {
        border: none;
    }

    .header__nav-item:last-child {
        border-bottom: none;
    }

    .header__nav-item.sub:first-child {
        border-top: none;
    }

}